.banner {
  background-image: url("/public/images/Group.png");

  width: 100%;
  height: 804px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.banner-title {
  height: 356px;
  width: 603px;
  color: #ffffff;
  font-size: 83px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 89px;
}

.banner-p {
  height: 93px;
  width: 603px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 31px;
  margin-top: -50px;
}

.banner-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-right {
  width: 40%;
  display: flex;
  align-items: center;
}
.left-img {
  border-radius: 15px;
  height: 639px;
  width: 602px;
  margin-top: 100px;
}
.lorem {
  height: 48px;
  width: 255px;
  border-radius: 24px;
  background-color: #000000;
  color: white;
  border: 1px solid black;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
